@use "../variables"
@use "../mixins"

.cart-title
    padding-top: 50px
    margin-left: 50px
    margin-bottom: 30px
    color: variables.$title-color

    @include mixins.mobile
        padding-top: 0

.empty
    color: variables.$primary-color

.cartBx
    @include mixins.flex-center
    align-items: flex-start

    @include mixins.large
        padding: 0 30px 

    @include mixins.mediun
        flex-direction: column
        align-items: center
        gap: 50px

    @include mixins.mobile
        padding: 0

    .listBx
        @include mixins.flex-center
        flex-direction: column
        width: 100%

        .product-list
            width: 100%

            .table-title
                font-size: 1.2em
                font-weight: bold
                line-height: 70px
                border-bottom: 2px solid variables.$title-color

            .table-list
                margin: 50px 0
                line-height: 120px

    .checkoutBx
        border: 3px solid variables.$primary-color
        width: 350px
        height: 300px
        padding: 10px
        border-radius: 10px
        margin-left: 50px

        @include mixins.mobile
            width: 330px
            margin: 0

        details
            border-bottom: 1px solid variables.$title-color

            summary
                font-size: 1.2em
                font-weight: bold
                margin: 20px 15px
                cursor: pointer

            .couponBx
                @include mixins.flex-center
                gap: 10px
                margin-bottom: 20px
                margin: 20px 15px

        .removeBx
            @include mixins.flex-center
            gap: 10px

            .success
                width: 100%
                height: 35px
                @include mixins.flex-center
                border-radius: 10px
                color: variables.$primary-color
                font-weight: bold

        .subTotalBx, .totalBx
            @include mixins.flex-center
            justify-content: space-between
            margin-bottom: 20px
            margin: 20px 5px
            border-bottom: 1px solid variables.$title-color

            h3, h4
                font-size: 1.2em
                margin-bottom: 20px
                text-transform: uppercase

            h3
                font-size: 1.3em


