@use "../variables"
@use "../mixins"

.banner
    position: absolute
    padding-top: 50px
    width: 100%
    height: 510px
    overflow: hidden
    @include mixins.flex-center

    @include mixins.mediun
        padding-top: 275px
        height: 320px

    @include mixins.mobile
        padding-top: 0
        height: auto

    .banner-img
        position: relative
        min-width: 1903px
        z-index: 1

        @include mixins.large
            min-width: 1200px

        @include mixins.mediun
            min-width: 960px

        @include mixins.mobile
            min-width: 100%

    .marquee-img
        position: absolute
        top: 180px
        left: calc(50% + 150px)
        z-index: 2

        @include mixins.large
            left: calc(50% + 100px)
            width: 300px
        
        @include mixins.mediun
            left: calc(50% + 100px)
            width: 200px
            top: 330px

        @include mixins.mobile
            width: 30%
            left: 50%
            top: 10px

.center-container-home
    padding-top: 470px

    @include mixins.large
        padding-top: 370px
    
    @include mixins.mobile
        padding-top: 200px
    
    .promotions
        width: 100%
        height: auto

        h1
            padding-top: 150px
            margin-left: 50px
            margin-bottom: 30px
            color: variables.$title-color

            @include mixins.mediun
                padding-top: 290px

            @include mixins.mobile
                padding-top: 0


        .promotion-card-box
            width: 100%
            @include mixins.flex-center
            justify-content: space-around
            margin-bottom: 70px
            flex-wrap: wrap

        .obs
            padding-left: 50px

        @include mixins.mediun
            padding-left: 0

    .about
        @extend .promotions
        width: 100%
        height: auto

        @include mixins.mediun
            display: flex
            flex-direction: column

        #saborDaPizza
            margin-bottom: 5px
            padding-top: 130px

            @include mixins.mediun
                margin-top: -180px
                padding-top: 300px

            @include mixins.mobile
                margin-top: 50px
                padding-top: 0

        .sabor-da-pizza
            @include mixins.flex-center

            @include mixins.mediun
                flex-direction: column-reverse
                margin-top: 50px

            .presentation-text
                padding: 30px
                padding-top: none
                font-size: 1.1em
                @include mixins.flex-center
                flex-direction: column

                @include mixins.mobile
                    padding: 10px

            .sabor-da-pizza-img
                width: 400px

                @include mixins.mobile
                    width: 270px