@use "../variables"
@use "../mixins"

.banner
    position: absolute
    padding-top: 50px
    width: 100%
    height: 510px
    @include mixins.flex-center


    .banner-img
        position: relative
        min-width: 1903px
        z-index: 1

.center-container-home
    padding-top: 470px

    .promotions
        width: 100%
        height: 600px

        h1
            padding-top: 150px
            margin-left: 50px
            margin-bottom: 30px
            color: variables.$title-color

        .promotion-card-box
            width: 100%
            @include mixins.flex-center
            justify-content: space-around
            margin-bottom: 70px

        .obs
            padding-left: 50px

    .about
        @extend .promotions
        width: 100%
        height: 500px

        #saborDaPizza
            margin-bottom: -5px
            padding-top: 130px

        .sabor-da-pizza
            @include mixins.flex-center

            .presentation-text
                padding: 30px
                padding-top: none
                font-size: 1.1em
                @include mixins.flex-center
                flex-direction: column

            .sabor-da-pizza-img
                width: 400px