@use "../../variables"
@use "../../mixins"

td
    &:nth-child(2)

        @include mixins.mobile
            display: none

.product-box
    @include mixins.flex-center
    justify-content: flex-start
    gap: 40px

    .cart-pizza
        width: 60px
        border: 5px solid variables.$primary-color
        border-radius: 50%

        @include mixins.mobile
            display: none

    .name-box
        display: flex
        justify-content: flex-start
        flex-direction: column
        gap: 10px
        line-height: 1.3em

        @include mixins.mobile
            width: 120px

        .pizza-name
            color: variables.$title-color
            font-size: 1.3em

        .pizza-size
            color: variables.$text-color

    .cart-price
        color: variables.$text-color
