@use "../../variables"
@use "../../mixins"

.pizza-card
    position: relative
    @include mixins.flex-center
    justify-content: flex-start
    flex-direction: column
    width: 250px
    height: 510px
    gap: 30px
    border-radius: 10px
    padding: 10px
    overflow: hidden
    border: 1px solid transparent
    margin-top: 50px
    transition: .5s

    &:hover
        border: 1px solid variables.$text-color

    &:hover .self-center
        visibility: visible

    .Novo
        position: absolute
        top: 10px
        left: 10px
        background-color: variables.$primary-color
        color: variables.$secondary-color
        border-radius: 2px
        text-transform: uppercase 
        font-weight: bold
        padding: 3px 5px
        font-size: 0.8em

    .Normal
        @extend .Novo
        visibility: hidden
    
    .Premiun
        @extend .Novo
        background-color: variables.$title-color

    img
        margin-top: 20px
        width: 180px
        border: 5px solid variables.$primary-color
        border-radius: 50%

    .description-box
        position: relative
        width: 100%
        margin: 10px 10px 0 10px
        display: flex
        justify-content: flex-start
        flex-direction: column
        gap: 10px

        .pizza-name
            color: variables.$title-color
            font-size: 1.3em

        .pizza-description
            color: variables.$text-color
            font-size: 1em
            width: 100%
            height: 60px

        .sizes-box
            position: relative
            margin-bottom: 20px

            label
                position: relative

                .size-name
                    @include mixins.flex-center
                    position: relative
                    width: 70px
                    height: 30px
                    border-radius: 20px
                    background: variables.$secondary-color
                    border: 1px solid transparent
                    color: variables.$title-color
                    font-weight: bold

                input[type="radio"]
                    position: absolute
                    top: 0
                    left: 0
                    width: 70px
                    height: 30px
                    appearance: none
                    background: transparent
                    outline: none
                    border-radius: 20px
                    border: 1px solid variables.$text-color
                    opacity: 0.5
                    cursor: pointer
                    z-index: 1

                    &:checked 
                        border: 1px solid variables.$text-color
                        opacity: 0.5

                        ~ .size-name
                            background: variables.$primary-color
                            border: 1px solid variables.$title-color
                            color: variables.$secondary-color

        .price
            color: variables.$text-color

    .self-center
        align-self: center
        width: 100%
        padding: 18px
        visibility: hidden

        @include mixins.large
            visibility: visible
