@use "../../variables"
@use "../../_mixins"

.navbar
    position: relative
    width: 1200px
    height: 100%
    background-color: variables.$primary-color
    display: flex
    justify-content: space-between
    align-items: center

    @include mixins.large
        width: 100%

    a

        .logo
            position: relative
            width: 120px

    ul
        position: relative
        bottom: -20px
        right: 100px
        display: flex
        gap: 20px
        list-style: none
        display: flex
        align-items: flex-end

        @include mixins.large
            right: 50px

        @include mixins.mediun
            flex-direction: column
            left: calc(-50% + 70px)
            align-items: center
            justify-content: flex-start
            bottom: 0

            @include mixins.mobile
                left: 0

        li

            a
                font-size: 1.2em
                text-decoration: none
                text-transform: uppercase
                color: variables.$secondary-color

                &:hover
                    color: variables.$title-color

                    .sub-option-bg
                        display: block

                .sub-option-bg
                    display: none
                    position: absolute
                    top: 25px
                    right: 120px
                    width: 120px
                    height: 200px
                    background: variables.$primary-color
                    transition: 2s
                    overflow: hidden

                    &:hover
                        display: block

                    ul
                        position: absolute
                        top: 33px
                        left: 0
                        width: 100%
                        height: 100%
                        @include mixins.flex-center
                        align-items: flex-start
                        padding-top: 10px
                        
                        background: variables.$secondary-color

                        .sub-option
                            color: variables.$title-color

                            &:hover
                                color: variables.$primary-color





    h3
        position: absolute
        top: 5px
        right: 100px
        font-size: .9em
        color: variables.$title-color

        @include mixins.mediun
            top: 50%

        @include mixins.large
            right: 50px

        @include mixins.mobile
            position: relative
            right: 0

        span
            font-size: 1.4em
